*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html


# ignore (local) world.db

/db/*.sqlite3
/db/*.db
/db/world.db
/db/world.db-journal


# Ignore gem artifacts/outputs in subfolder

/engine/pkg
/engine/pkg/*
